{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %} 


<div class="blogItem firstBlogItem">
    
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <h3>Le {{ article.locale_date }}</h3>
      
  {{ article.content }}	
  {% include 'twitter.html' %}
      
      <h3 class="blogMeta">Par <a href="#">{{ article.author }}</a>, Catégorie : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h3>
	<h3 class="blogMeta">Tags : {% for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
{% endfor %}</h3>
    
    </div><!-- end #blogItem -->
{% if DISQUS_SITENAME %}
<div class="blogItem">
    
      <h2>Commentaires</h2>
<div id="disqus_thread"></div>
    <script type="text/javascript">
       var disqus_identifier = "{{ article.url }}";
       (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>
                                        {% endif %}
				
				<!-- end #content -->
{% endblock %}	
