<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="icon" href="{{ SITEURL }}/theme/images/logo.ico" />
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.js">
    </script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/theme.js">
    </script>
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    
    <!--[if IE]>
	<style type="text/css"> 
	  .twoColFixRtHdr #mainContent { zoom: 1; }
	</style>
	<![endif]-->

  </head>

  <body>

    <div id="container">

      <div id="header">
	<h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
	{% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
	
      </div><!-- end #header -->
      
      <div id="topMenu">
	
	<ul>
    	  <li><a href="{{ SITEURL }}">Accueil</a></li>
          <li>&ndash;</li>
          <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
          
	</ul>
	
      </div><!-- end #topMenu -->

      <div id="sidebar">
	<ul>
	  {% if DISPLAY_PAGES_ON_MENU %}
	  {% if pages %}
	  <li>
	    <h3>Pages</h3>
	    <ul>
	      {% for page in pages %}
	      <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
	      {% endfor %}
	    </ul>
	  </li>
	  {% endif %}
	  {% endif %}
	  <li>
	    <h3>Catégories</h3>
	    <ul id="category_list">
	      {% for cat, null in categories %}
	      {% if cat == category %}
	      <li class="active"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	      {% else %}
	      <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	      {% endif %}
	      {% endfor %}
	    </ul>
	  </li>
	  {% if LINKS %}
	  <li>
	    <h3>Sites amis</h3>
	    <ul id="friend_list">
	      {% for abbr, name, link in LINKS %}
	      <li><a href="{{ link }}" title="{{ name }}">{{ abbr }}</a></li>
	      {% endfor %}
	    </ul>
	  </li>
	  {% endif %}
	  <li> <h3>Nouvelles</h3>
          <ul>
            {% if FEED_RSS %}
            <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux Rss</a></li>
            {% endif %}
	  </ul>
	  </li>
	  {% if SOCIAL %}
	  <li>
            <h3>Social</h3>
            <ul>
              {% for name, link in SOCIAL %}
              <li><a href="{{ link }}">{{ name }}</a></li>
              {% endfor %}
            </ul>
	  </li><!-- /.social -->
	  {% endif %}
	  <li>
            <h3>Tags</h3>
            <ul id="tag_list">
              {% for tag, articles in tags %}
              <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
	  </li>
	</ul>
	
	
      </div><!-- end #sidebar -->

      <div id="mainContent">
  	
	{% block content %}
	{% endblock %}
	
      </div><!-- end #mainContent -->

      <div class="clearfloat"></div>

      <div id="footer">
	<p>Ce site est propulsé par <a href="http://alexis.notmyidea.org/pelican/">pelican</a>, qui utilise <a href="http://python.org">python</a>.
	</p>
	{% if W3C_VALIDATOR %}
	<p>
	  <a href="https://validator.w3.org/check?uri=referer"><img
	  src="https://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
	</p>
	{% endif %}
      </div>
      <!-- end #footer -->

    </div><!-- end #container -->
    {% include 'analytics.html' %}
  </body>
</html>
