{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
{% if articles %}
{% for article in articles %}        
{% if loop.index == 1 %}

<div id="autres"><a href="#autres_articles">Voir les autres articles ⇩</a></div>
  	
<div class="blogItem firstBlogItem">
  
  <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  <h3>Le {{ article.locale_date }}</h3>
  
  {{ article.content }}	
  
  
  <h3 class="blogMeta">Par <a href="#">{{ article.author }}</a>, Catégorie : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h3>
  <h3 class="blogMeta">Tags :
    {% for tag in article.tags %}
    <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
    {% endfor %}
  </h3>
  
</div><!-- end #blogItem -->
{% if loop.length  > 1 %}	
<div class="blogItem">
  <a name="autres_articles"/>
  <h1>Autres articles</h1>
</div>
{% endif %}
{% else %}    
<div class="blogItem otherBlogItem">
  
  <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  <h3>Le {{ article.locale_date }}</h3>
  
  {{ article.summary }}
  <p>
    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Lire la suite...</a>
  </p>
  <h3 class="blogMeta">
    Par <a href="#">{{ article.author }}</a>,
    Catégorie : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  </h3>
  <h3 class="blogMeta">Tags :
    {% for tag in article.tags %}
    <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
    {% endfor %}
  </h3>
</div><!-- end #blogItem -->
{% endif %}
{% endfor %}
{% else %}

{% endif %}
{% endblock content %}
